<div class="show-item-page-container">
  <div class="items-container">
    <div *ngFor="let item of newItems()" class="item-card">
      <div class="image-container">
        <img src="{{item.image}}" class="image-item" alt="{{item.title}}" />
      </div>
      <div class="item-info">
        <div>
          <span class="item-info-price">{{item.price}}</span>
        </div>
        <div>
          <span class="item-info-title">{{item.title}}</span>
        </div>
        <p class="item-info-description">
          {{item.description}}
        </p>
        <div>
          <span class="item-info-email">{{item.email}}</span>
        </div>
        <div class="icon">
          <button
            class="fav-button"
            [disabled]="disabledOrNot(item)"
            [ngClass]="{'favActive':disabledOrNot(item)}"
            (click)="addFav(item)"
          >
            Fav
          </button>
          <button
            class="fav-button"
            [disabled]=""
            [style.cursor]="disabledOrNot(item) ? 'pointer' : 'auto'"
            (click)="deleteFav(item)"
          >
            Del
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-button-container">
    <button (click)="backwardPage()">Prev</button>
    <button (click)="forwardPage()">Next >></button>
  </div>
</div>
