.show-item-page-container {
  width: 100%;
  min-height: calc(100vh - 400px);
}

.items-container {
  margin: 0 4rem;
  min-height: calc(100vh - 400px);
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  cursor: pointer;
  width: 18rem;
  height: 420px;
  margin: 20px;
  text-align: left;
}

.image-item {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.image-container {
  height: 253px;
  padding: 4px 4px 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.item-info {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 12px;
  color: #253238;
}

.item-info > span {
  display: block;
}

.item-info-price {
  font-weight: 700;
  font-size: 2rem;
  margin: 20px 0 2px;
}

.item-info-title {
  font-size: 1.5rem;
  line-height: 22px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-info-description {
  position: relative;
  overflow: hidden;
  color: #607d8b;
  font-size: 0.875rem;
  height: 50px;
  word-wrap: break-word;
}

.pagination-button-container {
  margin: 2.5rem 4.5rem;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background-color: transparent;
  color: #253238;
  font-size: 1rem;
}

.icon {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.fav-button {
  border: 1px solid gray;
  border-radius: 15%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
}

.favActive {
  background-color: #13c1ac;
  cursor: auto;
}

.sort-container {
  width: 100%;
}
