<div *ngIf="descriptionElement" class="search-keyWord-container">
  <input
    class="search-keyWord"
    [(ngModel)]="keyWords"
    (keyup)="handleKeyWords(keyWords)"
    placeholder="Seach with key words"
    type="text"
    maxlength="150"
  />
</div>
<div class="control" *ngIf="inputElement">
  <input
    [placeholder]="componentId"
    [id]="componentId"
    aria-haspopup="listbox"
    autocomplete="off"
    class="trigger-dropdown"
    [(ngModel)]="value"
    (ngModelChange)="handleOnChange(value)"
    (keydown.enter)="handleEnter()"
    (keydown.arrowdown)="handleArrowDown()"
  />
  <div *ngIf="menu" class="dropdown-wrapper">
    <div class="dropdown-content">
      <ul
        id="listId"
        class="dropdown-list"
        role="listbox"
        tabindex="-1"
        role="listbox"
      >
        <li
          *ngFor="let item of items"
          [id]="item[componentId]"
          class="dropdown-item"
          (click)="selectedItem(item,componentId)"
          [style.background-color]="filteredItemStyle(item[componentId], value)"
        >
          {{item[componentId]}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="rangeElement" class="price-container">
  <input
    type="number"
    class="price-input"
    [(ngModel)]="priceBegin"
    (keyup)="handlePrice(priceBegin, priceEnd)"
    placeholder="from $$"
  />
  <input
    type="number"
    class="price-input"
    [(ngModel)]="priceEnd"
    (keyup)="handlePrice(priceBegin, priceEnd)"
    placeholder="till $$"
  />
</div>
