.search-keyWord-container {
  margin-bottom: 1rem;
  width: 100%;
}

.search-keyWord {
  border: 1px solid lightgray;
  min-height: 40px;
  width: 100%;
  border-radius: 2px;
}

.control {
  position: relative;
}

.trigger-dropdown {
  margin: 1rem 0rem;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-size: 16px;
  margin-bottom: 0;
  min-height: 40px;
  overflow: hidden;
  padding: 7px 40px 7px 0.65rem;
  position: relative;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}

.price-container {
  margin-top: 1rem;
  width: 50%;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-size: 16px;
  min-height: 40px;
  overflow: hidden;
  padding: 7px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price-input {
  width: 50%;
  margin: 0 1rem;
  border: none;
}

.price-input:focus {
  border: 1px dotted black;
}

.descripion-input {
  padding: 7px 40px 7px 0.65rem;
  flex-grow: 2;
}

.dropdown-list {
  width: 100%;
  height: 500px;
  padding: 0;
  top: 3rem;
  left: 0rem;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 1;
  overflow: auto;
}

.dropdown-item {
  cursor: pointer;
  border: 1px solid lightgray;
  line-height: 40px;
  list-style: none;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item:hover {
  background-color: lightgray;
}
