<div id="modal" tabindex="0" class="modal-container">
  <div id="modal" class="modal-header">
    <input
      class="modal-input"
      id="modal"
      [(ngModel)]="title"
      (keydown.enter)="handleEnter()"
      (keyup)="handleSearchTitle(title)"
      placeholder="Seach title with key words"
      type="text"
      maxlength="150"
    />
    <button id="modal" class="modal-close-button" (click)="closeModal()">
      X
    </button>
  </div>
  <div id="modal" *ngIf="noSearchMatch">
    <app-no-found id="modal" [noSearchMatch]="noSearchMatch"></app-no-found>
  </div>
  <div id="modal" *ngIf="favList.length === 0">
    <app-no-found
      [noFavItem]="noFavItem"
      [noSearchMatch]="noSearchMatch"
    ></app-no-found>
  </div>
  <div id="modal" class="modal-card" *ngFor="let item of favList">
    <div id="modal" class="modal-image-container">
      <img
        id="modal"
        src="{{item.image}}"
        class="image-item"
        alt="{{item.title}}"
      />
    </div>
    <div id="modal" class="fav-item-title">{{item.title}}</div>
    <button id="modal" (click)="removeItem(item)" class="modal-card-button">
      delete
    </button>
  </div>
</div>
