.modal-container {
  border: 1px solid red;
  min-width: 30%;
  height: 60%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 4px;
  background-color: white;
  border: 5px solid #13c1ac;
  padding: 0 10px 10px 10px;
  overflow: auto;
}

.modal-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 2px solid white;
}

.modal-close-button {
  margin: 1rem;
  background-color: transparent;
  border-radius: 6px;
  padding: 6px;
  border-radius: 2px;
}

.modal-input {
  flex-grow: 2;
  padding: 7px 40px 7px 0.65rem;
  border: 1px solid lightgray;
}

.modal-card {
  display: flex;
  background-color: #13c1ac;
  padding: 10px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 5px 0;
}

.modal-image-container {
  height: 25%;
  width: 25%;
  min-height: 100px;
  min-width: 100px;
}

.image-item {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.fav-item-title {
  font-size: 1.3rem;
  align-self: center;
  margin: 1.3rem;
  flex-grow: 2;
}

.modal-card-button {
  height: 20%;
  margin: 1rem;
  background-color: transparent;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}
