<div id="modal" *ngIf="noSearchMatch">
  <div id="modal" class="nofound-content">
    <h3 id="modal">OOPS!</h3>
    <p id="modal">No items matched</p>
  </div>
</div>

<div id="modal" *ngIf="pageNoMatch" class="nofound-container">
  <div id="modal">
    <h3 id="modal">OOPS!</h3>
    <p id="modal">No items matched</p>
  </div>
</div>

<div id="modal" *ngIf="!noSearchMatch && !pageNoMatch">
  <div id="modal" class="nofound-content">
    <h3 id="modal">No Favorite Item</h3>
  </div>
</div>
