<div class="filter-container">
  <div>
    <app-filter-items
      [clearInfo]="clearInfo"
      [items]="items"
      componentId="description"
      (itemSelectedValueEvent)="receiveItem($event)"
    ></app-filter-items>
  </div>
  <div class="second-filter-container">
    <app-filter-items
      [clearTitleEmail]="clearTitleEmail"
      [items]="items"
      componentId="title"
      (itemSelectedValueEvent)="receiveItem($event)"
    ></app-filter-items>
    <app-filter-items
      [clearTitleEmail]="clearTitleEmail"
      [items]="items"
      componentId="email"
      (itemSelectedValueEvent)="receiveItem($event)"
    ></app-filter-items>
    <app-filter-items
      [clearInfo]="clearInfo"
      [items]="items"
      componentId="price"
      (itemPriceEvent)="receiveItem($event)"
    ></app-filter-items>
  </div>
</div>
