.filter-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.second-filter-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
