.sort-button {
  align-self: center;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid lightgray;
  min-height: 40px;
}

@media only screen and (max-width: 1000px) {
  .sort-container {
    width: 100%;
    margin: 0;
  }

  .sort-button {
    align-self: center;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .sort-container {
    width: 110%;
    margin: 0;
  }

  .sort-button {
    width: 100%;
    margin: 1rem 0;
  }
}
