<div class="sort-container">
  <button
    class="sort-button"
    [style.background-color]="criteriaSlected === title ? '#13C1AC' : ''"
    (click)="sendInfo(title)"
  >
    title ↑↓
  </button>
  <button
    class="sort-button"
    [style.background-color]="criteriaSlected === email ? '#13C1AC' : ''"
    (click)="sendInfo(email)"
  >
    email ↑↓
  </button>
  <button
    class="sort-button"
    [style.background-color]="criteriaSlected === price ? '#13C1AC' : ''"
    (click)="sendInfo(price)"
  >
    price ↑↓
  </button>
  <button
    class="sort-button"
    [style.background-color]="criteriaSlected === description ? '#13C1AC' : ''"
    (click)="sendInfo(description)"
  >
    description ↑↓
  </button>
</div>
