.nav-filter-container {
  margin: 1rem 4.5rem;
}

.filter-buttons-container {
  min-height: 40px;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter-button {
  border: 1px solid lightgray;
  border-radius: 5%;
  background-color: transparent;
  color: #253238;
  margin-right: 1rem;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
  height: 3rem;
}

.show-modal-container {
  border: 1px solid green;
  margin: 1rem 4.5rem;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .nav-filter-container {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .filter-button {
    margin: 1rem 0;
    width: 100%;
  }
}
