<div>
  <div [style.opacity]="showModal ? '0.5' : ''">
    <div class="nav-filter-container">
      <app-nav
        [clearTitleEmail]="clearTitleEmail"
        [clearInfo]="clearInfo"
        (itemSelectedValueEvent)="receiveItem($event)"
      ></app-nav>
      <div class="filter-buttons-container">
        <button class="filter-button" (click)="filterApplied()">
          Apply Filter
        </button>
        <button class="filter-button" (click)="clearAllFilter()">
          Clear Filter
        </button>
        <button id="openModal" class="filter-button" (click)="openModal()">
          Show Favorite List
        </button>
        <app-sort
          (criteraToSortEvent)="receiveCriterta($event)"
          title="title"
          email="email"
          price="price"
          description="description"
        ></app-sort>
      </div>
    </div>
    <div *ngIf="items.length === 0">
      <app-no-found [pageNoMatch]="items.length === 0"></app-no-found>
    </div>
    <app-show-item
      *ngIf="items.length !== 0"
      [items]="items"
      [jumpToFirstPage]="jumpToFirstPage"
    ></app-show-item>
  </div>
  <app-modal
    (closeModalEvent)="receiveCloseModalEvent($event)"
    *ngIf="showModal"
  ></app-modal>
</div>
